@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}