@use '../helpers/index' as *;

body {

    @include fluid-text(18, 14);

    display: flex;
    flex-direction: column;
    font-family: var(--ff-main);
    background-color: var(--color-primary);
    color: var(--color-secondary);
}


html.dark {
    --color-primary: var(--color-dark);
    --color-secondary: var(--color-light);
}

main {
    flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    @include hover {
        color: var(--color-secondary)
    }

    &[class] {
        text-decoration: none;
    }
}

h1, .h1, 
h2, .h2, 
h3, .h3 {
    font-family: var(--ff-accent);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: rem(640);
    padding-inline: 1.25rem;
}