@use '../helpers/index' as *;

:root {

    --color-light: #fffcef;
    --color-light-10: #dedbd0;
    --color-light-20: #9e9c94;

    --color-dark: #151514;
    --color-dark-10: #484847;
    --color-dark-20: #373735;

    --color-accent: #80011f;

    --color-primary: var(--color-light);
    --color-secondary: var(--color-dark);


    --border: #{rem(1)} solid var(--color-light-20);

    --ff-main: 'Roboto', sans-serif;
    --ff-accent: 'Lexend', sans-serif;

    --transition-duration: 0.2s;


}