@use '../helpers/index' as *;

:root {
    // --color-light: #cfd2d3;

    --color-light: #fffcef;
    --color-light-10: #f2efe3;
    --color-light-20: #e4e2d8;



    // --color-dark: #101829;

    --color-dark: #151514;
    --color-dark-10: #484847;
    --color-dark-20: #373735;

    // --color-accent: #ea0029;
    // --color-accent: #e50914;

    // --color-accent: #EAB308; - yellow
    --color-accent: #80011f;



    --border: #{rem(1)} solid var(--color-dark-10);

    --ff-base: 'Roboto', sans-serif;
    --ff-accent: 'Lexend', 'Roboto', sans-serif;

    --transition-duration: 0.2s;


}