@use '../../helpers/index' as *;

.posts {
    padding-block: rem(64);

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: var(--ff-accent);
        font-weight: 600;
        font-size: rem(16);
    }

    &__card-title {
        font-size: rem(16);
        font-weight: 600;
    }

    &__all {

        &-list {
            display: flex;
            flex-direction: column;
            gap: rem(16);
            padding-block: rem(20);
        }

        &-link {
            width: 100%;
        }

        &-card {
            width: 100%;
        }
    }

}

