@use '../../helpers/index' as *;

.footer {

    padding-top: rem(20);
    font-size: rem(11);
    // border-top: var(--border);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: rem(20);
        color: var(--color-light-20);

        @include mobile {
            flex-direction: column-reverse;
            gap: rem(20);
        }
    }

    &__settings {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-button {
            margin-inline: rem(4);
        }
    }

}