---
import About from "../components/About.astro";
import CardsList from "../components/CardsList.astro";
import Section from "../components/Section.astro";
import Connect from "../components/Connect.astro";
import Work from "../components/Work.astro";
import Layout from "../layouts/PageLayout.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const latestPosts = posts.slice(-3);

const projects = await getCollection("projects");
const latestProjects = projects.slice(-2);
---

<Layout>
  <h1 class="visually-hidden">Welcome to Roman Coropat personal site</h1>
  <About />
  <Section title="Latest posts" link="/blog">
    {
      posts.length > 0 ? (
        <CardsList list={latestPosts} category="blog" />
      ) : (
        <p>Coming soon!</p>
      )
    }
  </Section>
  <Section title="Work Experience">
    <Work />
  </Section>
  <Section title="Recent projects" link="/projects">
    {
      projects.length > 0 ? (
        <CardsList list={latestProjects} category="projects" />
      ) : (
        <p>Coming soon!</p>
      )
    }
  </Section>
  <Section title="Let's Connect">
    <Connect />
  </Section>
</Layout>
