---

---

<section class="about">
  <div class="about__inner container">
    <p class="about__title">Hi! I'm Roman</p>
    <article class="about__article">
      <p>
        I'm a dedicated self-starter who loves taking on new challenges and is
        always eager to learn. I'm looking for an opportunity to grow my skills
        and make a positive impact as a junior developer.
      </p>
      <p>
        My passion for learning and growth has always driven me to embrace new
        challenges. I have always had a keen interest in front-end development
        and web design. Through personal projects and self-study, I have honed
        my skills and am now looking to transition into a career as a junior
        developer. My previous experience has equipped me with a specific set of
        skills that I believe will be highly valuable in this field, including
        the ability to work with large amounts of information, take on
        responsibility, and manage stress in fast-paced environments.
      </p>
    </article>
  </div>
</section>
