---
import Card from "./Card.astro";

const { list, category } = Astro.props;
---

<div class="cards-list">
  <ul class="cards-list__list">
    {
      list.map((item: any) => {
        return (
          <li class="cards-list__item">
            <a
              href={`/roko-blog/${category}/${item.id}/`}
              class="cards-list__link"
            >
              <Card
                cardTitle={item.data.title}
                cardText={item.data.description}
              />
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
