---

---

<div class="connect__inner">
  <div class="connect__text">
    <p>
      If you want to get in touch with me about something or just to say hi,
      reach out on social media or send me an email.
    </p>
  </div>
  <div class="connect__list-box">
    <ul class="connect__list">
      <li class="connect__item">
        <a
          href="https://t.me/rokoworlds"
          class="connect__link link"
          target="_blank"
        >
          telegram
        </a>
      </li>
      <li class="connect__item">
        <a
          href="https://www.linkedin.com/in/roman-coropat-878440228/"
          class="connect__link link"
          target="_blank"
        >
          linkedin
        </a>
      </li>
      <li class="connect__item">
        <a
          href="https://github.com/rokoworlds"
          class="connect__link link"
          target="_blank"
        >
          github
        </a>
      </li>
      <li class="connect__item">
        <a href="mailto:roman.koropat@gmail.com" class="connect__link link">
          roman.koropat@gmail.com
        </a>
      </li>
    </ul>
  </div>
</div>
