<section class="posts">
  <div class="posts__inner container">
    <div class="posts__info">
      <p class="posts__title">Recent projects</p>
      <a href="/" class="posts__link link">See all projects</a>
    </div>
    <div class="posts__all">
      <ul class="posts__all-list">
        <li class="posts__all-item">
          <a href="/" class="posts__all-link">
            <div class="posts__all-card card">
              <div class="posts__all-card-info">
                <p class="posts__card-title">Personal site</p>
                <p class="posts__card-description">Minimalistic and cool!</p>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e3e3e3"
                ><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"
                ></path></svg
              >
            </div>
          </a>
        </li>
        <li class="posts__all-item">
          <a href="/" class="posts__all-link">
            <div class="posts__all-card card">
              <div class="posts__all-card-info">
                <p class="posts__card-title">Mew-mory madness</p>
                <p class="posts__card-description">
                  The memory game, but with kitties!
                </p>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e3e3e3"
                ><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"
                ></path></svg
              >
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
