<div class="work__inner">
  <div class="work__info">
    <date class="work__info-date">June 2024 - March 2025</date>
    <p class="work__info-place">Aviasales</p>
    <p class="work__info-position">Frontend Developer</p>
  </div>
  <div class="work__description">
    <p>
      Sit amet consectetur adipisicing elit. Iure illo neque tempora, voluptatem
      est quaerat voluptas praesentium ipsa dolorem dignissimos nulla ratione
      distinctio quae maiores eligendi nostrum? Quibusdam, debitis voluptatum,
      lorem ipsum dolor.
    </p>
  </div>

  <div class="work__info">
    <date class="work__info-date">February 2024 - June 2024</date>
    <p class="work__info-place">6Seniors</p>
    <p class="work__info-position">Frontend Developer</p>
  </div>
  <div class="work__description">
    <p>
      Sit amet consectetur adipisicing elit. Iure illo neque tempora, voluptatem
      est quaerat voluptas praesentium ipsa dolorem dignissimos nulla ratione
      distinctio quae maiores eligendi nostrum? Quibusdam, debitis voluptatum,
      lorem ipsum dolor.
    </p>
  </div>

  <div class="work__info">
    <date class="work__info-date">December 2023 - February 2024</date>
    <p class="work__info-place">Freelance</p>
    <p class="work__info-position">Frontend Developer</p>
  </div>
  <div class="work__description">
    <p>
      Sit amet consectetur adipisicing elit. Iure illo neque tempora, voluptatem
      est quaerat voluptas praesentium ipsa dolorem dignissimos nulla ratione
      distinctio quae maiores eligendi nostrum? Quibusdam, debitis voluptatum,
      lorem ipsum dolor.
    </p>
  </div>
</div>
