<div class="work__inner">
  <div class="work__info">
    <date class="work__info-date">June 2024 - March 2025</date>
    <p class="work__info-place">Aviasales</p>
    <p class="work__info-position">Frontend Developer</p>
  </div>
  <div class="work__description">
    <p>
      As part of the Creative Production team responsible for marketing and
      communication projects to engage customers and promote special offers,
      products and partners.
    </p>
    <ul>
      <li>
        Enhanced the SVG file handling and usage system in the UI kit by
        creating a dedicated component to work with images of various formats
        (SVG, PNG, JPG, WebP). Optimized SVG usage and integrated the SVGR
        library into the project, addressing performance and image loading
        issues.
      </li>
      <li>
        Developed NestJS modules for database management as part of a blueprint
        for future projects.
      </li>
      <li>
        Integrated Prisma ORM into the project and set up modules for collecting
        and processing statistical data.
      </li>
      <li>
        Configured logging on the project, covering calls, errors, and other
        operations with logging.
      </li>
      <li>Keeping technical documentation up to date (via Storybook)</li>
    </ul>
  </div>

  <div class="work__info">
    <date class="work__info-date">February 2024 - June 2024</date>
    <p class="work__info-place">6Seniors</p>
    <p class="work__info-position">Frontend Developer</p>
  </div>
  <div class="work__description">
    <ul>
      <li>Improved the component system as part of an educational project.</li>
      <li>Designed cross-browser landing pages for personal websites.</li>
      <li>
        Worked on adaptive and semantic layouts and refactoring of a corporate
        website.
      </li>
      <li>
        Conducted accessibility audits in collaboration with a nonprofit
        organization.
      </li>
    </ul>
  </div>
</div>
