@use '../../helpers/index' as *;

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(14);
    color: var(--color-light-20);
    border: var(--border);
    border-radius: rem(4);
    padding: rem(12) rem(14);
    width: 100%;

    @include hover {
        color: var(--color-secondary);
        border-color: var(--color-secondary);
    }


    &__title {
        font-size: rem(16);
        font-weight: 600;
    } 
}