---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/main.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>roko</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
      <section class="work">
        <div class="work_inner container">
          <div class="work__title">
            <p class="work__title-text">Work Experience</p>
          </div>
          <div class="work__info">
            <date class="work__info-date">June 2024 - March 2025</date>
            <p class="work__info-place">Aviasales</p>
            <p class="work__info-position">Frontend Developer</p>
          </div>
          <div class="work_description">
            <p>
              Sit amet consectetur adipisicing elit. Iure illo neque tempora,
              voluptatem est quaerat voluptas praesentium ipsa dolorem
              dignissimos nulla ratione distinctio quae maiores eligendi
              nostrum? Quibusdam, debitis voluptatum, lorem ipsum dolor.
            </p>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style></style>
