---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/main.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>roko.</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
      <section class="connect">
        <div class="connect__inner container">
          <div class="connect__title">
            <p class="connect__title-text">Let's Connect</p>
          </div>
          <div class="connect__text">
            <p>
              If you want to get in touch with me about something or just to say
              hi, reach out on social media or send me an email.
            </p>
          </div>
          <div class="connect__list-box">
            <ul class="connect__list">
              <li class="connect__item">
                <a href="" class="connect__link link"> telegram </a>
              </li>
              <li class="connect__item">
                <a href="" class="connect__link link"> linkedin </a>
              </li>
              <li class="connect__item">
                <a href="" class="connect__link link"> github </a>
              </li>
              <li class="connect__item">
                <a href="" class="connect__link link">
                  roman.koropat@gmail.com
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style></style>
