@use '../../helpers/index' as *;

.work {

    &__title {
        font-family: var(--ff-accent);
        font-size: rem(16);
        font-weight: 600;
        padding-block: rem(20);
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(2);

        &-date,
        &-position {
            font-size: rem(14);
            color: var(--color-light-20);
        } 

        &-place {
            font-family: var(--ff-accent);
            font-weight: 600;
            color: var(--color-secondary);
        }
    }

    &__description {
        font-size: rem(14);
        padding-block: rem(20);
        line-height: 1.75;
    }
}